.navbar {
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.1rem;
}
.nav-link:hover {
  color: #ffffff !important;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-shadow: black 0px 4px 6px -1px;
}
.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* midt på skjermen */
  align-items: center;
  gap: 12px;
}

.button {
  position: relative; /* 🔥 viktig */
  z-index: 3; /* over overlay/video */
  text-align: center;
  margin-top: 45%;
}

.best-sellers {
  padding: 90px 0;
  background: #f8f9fa;
}

.product-card {
  background: white;
  border-radius: 14px;
  padding: 16px;
  text-align: center;
  height: 100%;
  box-shadow: black 0px 4px 6px -1px;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}

.product-card:hover {
  transform: translateY(-10px);
}
